@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300;400&display=swap');

.portion1 .rectangle {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);
}

.menu-outer {
    height: 50px;
}

.rectangle {
	display: table;   /* Allow the centering to work */
    margin: 0 auto;
    min-width: 1440px;
}

ul#horizontal-list {
    /* min-width: 1440px; */
	list-style: none;
	padding: 6px;
}
    
ul#horizontal-list li {
		display: inline;
}

.portion2 {
    background: #fff;
    padding: 50px 0 50px 0;
}

.portion2 h1 {
    max-width: 586px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.02em;
    color: #000000;
    text-align: left;
    padding-top: 100px;
}