@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@300;400&display=swap');

.portion {
    max-width: 687px;
    padding: 3em 3em 1em;
    margin: auto;
}

@media only screen and (max-width:1024px) {
    .portion {
        max-width: 400px;
        margin: auto;
        padding: 15px;
    }
}

.portion label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #676767;
}

@media only screen and (max-width: 1024px) {
    .portion label {
        font-size: 12px;
    }
}

.portion input[type="text"],
input[type="image"] {
    padding: .6em .5em;
    background: #FFFFFF;
    border: 1px solid #7C808D;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .portion input[type="text"],
    input[type="image"] {
        padding: .4em .3em;
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 10px;
      }
}